@import 'tailwindcss';

@theme {
  --color-midBlue: #1E90FF;
  --color-darkBlue: #156FDB;
  --color-deepBlue: #20222D;
  --color-midPurple: #9C81FE;
  --color-darkPurple: #8685FF;
  --color-midGrey: #939393;
  --color-darkGrey: #393939;
  --color-almostWhite: #f0f0f0;
  --color-onyxBlack: #0f0f0f;

  --breakpoint-xs: 25rem;

  --animate-slow-bouce: slow-bounce 2s ease-in-out infinite;

  @keyframes slow-bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    }
  }
}

@keyframes Shine {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

:root {
  --midBlue: #1E90FF;
  --darkBlue: #156FDB;
  --deepBlue: #20222D;
  --midPurple: #9C81FE;
  --darkPurple: #8685ff;
  --midGrey: #939393;
  --darkGrey: #393939;
  --almostWhite: #f0f0f0;
  --onyxBlack: #0f0f0f;
}

* {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--midGrey);
  }

  ::-webkit-scrollbar-thumb {
    background:var(--darkGrey);
    border-radius: 1rem;
  }

  scroll-behavior: smooth;
}

@media (prefers-reduced-animations) {
  * {
    scroll-behavior: auto;
  }
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--onyxBlack);
  }

  ::-webkit-scrollbar-thumb {
    background:var(--deepBlue);
    border-radius: 1rem;
  }
}

html, body {
  background: var(--almostWhite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


@media (prefers-color-scheme: dark) {
  html, body {
    background: var(--onyxBlack) !important;
  }
}


/* --- FONTS --- */

@font-face {
  font-family: 'Fira Code';
  src: url('/src/fonts/FiraCode-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/src/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

.font-fira-code {
  font-family: 'Fira Code';
}

.font-open-sans {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Code';
}

p {
  font-family: 'Open Sans';
}

/* --- LINKS --- */

.primary-link {
  color: black;
  font-family: 'Open Sans';
}
.primary-link:hover {
  color: var(--darkBlue);
}
.primary-link:focus {
  color: var(--darkBlue);
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, var(--darkBlue) 75%, transparent 25%) 100% 1;
  outline: none;
}

.secondary-link {
  color: var(--darkGrey);
  font-family: 'Open Sans';
  font-size: small;
}
.secondary-link:hover, .secondary-link:focus, .secondary-link:active {
  color: black;
  text-decoration: underline;
}
.secondary-link:focus {
  color: black;
  text-decoration-line: underline;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .primary-link {
    color:white;
  }
  .primary-link:hover, .primary-link:focus, .primary-link:active {
    color: var(--midBlue);
  }

  .secondary-link {
    color: var(--midGrey);
  }
  .secondary-link:hover {
    color: white;
  }
  .secondary-link:focus {
    color: white;
  }
}


/* CV BUTTON */


#primary-cta {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, var(--midBlue), var(--midPurple));
  animation: Shine 10s ease infinite;
  transition: 0.3s;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:hover, &:focus {
    transform: scale(1.2);

    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: 1s;
    }
  }
}


.dot-grid {
  height: 100%;
  width: 100vw;
  z-index: 0;
  background-size: 3rem 3rem;
  background-image: radial-gradient(circle, var(--midGrey) 1px, transparent 0);
}
@media (prefers-color-scheme: dark) {
  .dot-grid {
    background-image: radial-gradient(circle, var(--darkGrey) 1px, transparent 0);
  }
}


/* --- TECHNOLOGIES --- */

.tech-logo {
  max-width: none !important; /*stops gradient border being 'cut off'*/
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.2rem;
  background: var(--almostWhite);
}

@media (prefers-color-scheme: dark) {
  .tech-logo {
    background: var(--onyxBlack);
  }
}


.tech-logo-mobile {
  margin: 0.5rem;
}

.gradient-border {
  border-radius: 1rem;
  margin: 2rem;
  background-image: linear-gradient(-45deg, var(--midBlue), var(--midPurple));
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

@media (min-width: 640px) {
  .gradient-border {
    margin: 0.25rem;
  }
}
@media (min-width: 768px) {
  .gradient-border {
    margin: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .gradient-border {
    margin: 1rem;
  }
}
@media (min-width: 1280px) {
  .gradient-border {
    margin: 2rem;
  }
}

.gradient-border:hover {
  transform: rotate(-10deg);
}

.tech-tooltip {
  width: 10rem;
  position: absolute;
  top: -3.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: rgb(147, 147, 147, 0.3);
  font-size: smaller;
  visibility: hidden;
}

@media(prefers-color-scheme: dark) {
  .tech-tooltip {
    background: rgba(32, 34, 45, 0.4);
  }
}

.gradient-border:hover .tech-tooltip,
.gradient-border:active .tech-tooltip {
  visibility: visible;
  rotate: 10deg;
}

/* GRADIENT UNDERLINE */

.gradient-underline {
  border-bottom: solid 0.25rem;
  border-image: linear-gradient(to right, var(--midBlue), var(--midPurple) 75%, transparent 25%) 1;
}


/* PROJECTS LAYOUT */

.project-container {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: solid 2px var(--darkBlue);
  border-radius: 2rem;
  margin: 2rem auto;
  background-image: linear-gradient(to bottom, transparent, rgb(147, 147, 147, 20%));
  transition: all 0.2s;
}
.project-container:hover {
  /* background: rgba(21, 110, 219, 10%); */
  background: rgb(156, 129, 254, 20%);
}

@media (prefers-color-scheme: dark) {
  .project-container {
    border: solid 2px var(--deepBlue);
    background-image: linear-gradient(to bottom, rgb(32, 34, 45, 40%), transparent);
  }
  .project-container:hover {
    background: rgb(32, 34, 45, 40%);
  }
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-text p {
  max-width: 90%;
}

.container-left {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0;
}

.container-right {
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
}

.container-right .project-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 1rem;
}
.right .project-text p {
  margin-left: 10%;
}

.project-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--midBlue);
  text-align: left;
}

.project-title.right {
  right: 2rem;
  padding-right: 1rem;
  text-align: right;
}

.project-description {
  color: black;
  text-wrap: pretty;
}

.project-cover {
  height: 100%;
  width: 45%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.project-cover img {
  transition: transform 0.2s ease;
}

.project-cover-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.375rem;
  background-image: linear-gradient(to bottom right, var(--midBlue), var(--darkPurple));
  opacity: 0.15;
  transition: all 0.3s;
}

.project-cover:hover img {
  transform: scale(1.05);
}

.tech-stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  user-select: none;
}

.tech-stack li {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: rgba(134, 133, 255, 0.7);
  color: white;
  cursor: default;
  transition: 0.1s;
}

.tech-stack li:hover {
  scale: 1.05;
}

@media (prefers-color-scheme: dark) {
  .tech-stack li {
    background: var(--deepBlue);
    color: var(--midPurple);
  }
}

/* PROJECTS LAYOUT MOBILE */

.project-container-mobile {
  height: auto;
  min-width: 75%;
  max-width: 85%;
  position: relative;
  left: 50%;
  padding: 0.5rem;
  border: solid 2px var(--darkBlue);
  border-radius: 1rem;
  background-image: linear-gradient(to bottom, transparent, rgb(147, 147, 147, 20%));
  transform: translateX(-50%);
}

.project-container-mobile::before { /* standard backdrop blur blurs the foreground */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.project-title-mobile {
  margin: 1rem 0;
  text-align: center;
  font-size: x-large;
}

.project-cover-mobile {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-top: 2rem;
}

.project-cover-overlay-mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 0.375rem;
  background-image: linear-gradient(to bottom right, var(--midBlue), var(--darkPurple));
  opacity: 0.3;
  z-index: 1;
  transition: all 0.3s;
}

.project-description-mobile {
  padding: 1rem;
}

.tech-stack-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1rem;
  justify-content: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.tech-stack-mobile li {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: rgba(134, 133, 255, 0.7);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .tech-stack-mobile li {
    background: var(--deepBlue);
    color: var(--midPurple);
  }
}

/* PROJECTS LAYOUT DARK */

@media (prefers-color-scheme: dark) {
  .project-container-mobile {
    border: solid 2px var(--deepBlue);
    background-image: linear-gradient(to bottom, rgb(32, 34, 45, 40%), transparent);
  }
  .project-container-mobile:active {
    background: rgb(32, 34, 45, 40%);
  }

  .project-container-mobile,
  .project-description {
    color: white;
  }
}

/* --- ANIMATIONS --- */


/* --- MISC --- */

.smooth-change {
  transition: all 0.1s linear;
}
